![iceberg-logo](https://www.apache.org/logos/res/iceberg/iceberg.png)

### [Docker, Spark, and Iceberg: The Fastest Way to Try Iceberg!](https://tabular.io/blog/docker-spark-and-iceberg/)

In [30]:
from pyiceberg import __version__

__version__

'0.6.0'

# Write support

This notebook demonstrates writing to Iceberg tables using PyIceberg. First, connect to the [catalog](https://iceberg.apache.org/concepts/catalog/#iceberg-catalogs), the place where tables are being tracked.

In [31]:
from pyiceberg.catalog import load_catalog

catalog = load_catalog('default')

# Loading data using Arrow

PyArrow is used to load a Parquet file into memory, and using PyIceberg this data can be written to an Iceberg table.

In [32]:
import pyarrow.parquet as pq

df = pq.read_table("/home/iceberg/data/yellow_tripdata_2022-01.parquet")

df

pyarrow.Table
VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
----
VendorID: [[1,1,2,2,2,...,1,2,2,2,2],[2,2,1,1,1,...,1,2,2,2,2],...,[1,1,1,1,1,...,2,1,2,2,2],[2,2,2,2,2,...,2,2,2,2,2]]
tpep_pickup_datetime: [[2022-01-01 00:35:40.000000,2022-01-01 00:33:43.000000,2022-01-01 00:53:21.000000,2022-01-01 00:25:21.000000,2022-01-01 00:36:48.000000,...,2022-01-03 09:30:15.000000,2022-01-03 09:14:58.000000,2022-01-03 09:27:22.000000,2022-01-03 09:41:29.000000,2022-01-03 09:07:37.000000],[2022-01-03 09:45:59.000000,2022-01-03 09:57:16.000000,2022-01-03 09:00:25.000000,2022-01-03 09:34:16.000000,2022-01-03 09:57:47.000000,...,2022-01-04 23:49:13.000000,2022-01-04 23:11:02.000000,2022-01-04 23:54:40.000000,2022-01-04 23:15:58.000000,2022-01-04 23:09:06.000000],...,[2022-01-29 17:26:05.000000,2022-01-29 17:41:29.000000,2022-01-29 17:48:18.000000,2022-01-29 17:17:07.000000,2022-01-29 17:24:45.000000,...,2022-01-31 16:48:53.000000,2022-01-31 16:58:31.000000,2022-01-31 15:59:47.000000,2022-01-31 16:37:52.000000,2022-01-31 16:56:48.000000],[2022-01-31 15:57:31.000000,2022-01-31 16:08:15.000000,2022-01-31 16:36:29.000000,2022-01-31 16:08:08.000000,2022-01-31 16:43:12.000000,...,2022-01-31 23:36:53.000000,2022-01-31 23:44:22.000000,2022-01-31 23:39:00.000000,2022-01-31 23:36:42.000000,2022-01-31 23:46:00.000000]]
tpep_dropoff_datetime: [[2022-01-01 00:53:29.000000,2022-01-01 00:42:07.000000,2022-01-01 01:02:19.000000,2022-01-01 00:35:23.000000,2022-01-01 01:14:20.000000,...,2022-01-03 09:35:13.000000,2022-01-03 09:18:22.000000,2022-01-03 09:36:40.000000,2022-01-03 09:50:40.000000,2022-01-03 09:15:39.000000],[2022-01-03 09:52:55.000000,2022-01-03 10:09:57.000000,2022-01-03 09:07:26.000000,2022-01-03 09:51:05.000000,2022-01-03 10:08:07.000000,...,2022-01-04 23:57:06.000000,2022-01-04 23:28:39.000000,2022-01-05 00:22:17.000000,2022-01-04 23:47:48.000000,2022-01-04 23:34:47.000000],...,[2022-01-29 17:33:44.000000,2022-01-29 17:45:23.000000,2022-01-29 17:57:58.000000,2022-01-29 17:23:14.000000,2022-01-29 17:37:54.000000,...,2022-01-31 17:00:01.000000,2022-01-31 17:09:10.000000,2022-01-31 16:13:47.000000,2022-01-31 16:46:26.000000,2022-01-31 16:59:46.000000],[2022-01-31 16:04:12.000000,2022-01-31 16:14:04.000000,2022-01-31 16:40:16.000000,2022-01-31 16:13:25.000000,2022-01-31 16:53:08.000000,...,2022-01-31 23:42:51.000000,2022-01-31 23:55:01.000000,2022-01-31 23:50:00.000000,2022-01-31 23:48:45.000000,2022-02-01 00:13:00.000000]]
passenger_count: [[2,1,1,1,1,...,1,1,1,1,1],[1,1,1,1,1,...,1,1,1,1,1],...,[2,2,1,1,1,...,1,1,1,1,1],[2,2,1,1,1,...,null,null,null,null,null]]
trip_distance: [[3.8,2.1,0.97,1.09,4.3,...,1,0.61,2.3,1.2,1.93],[1.23,2.2,1.2,3.6,1.7,...,2.7,9.03,15.21,17.58,15.09],...,[1,0.6,2.1,0.9,1.7,...,1.74,1.5,4.16,1.27,0.59],[1.28,0.74,0.53,0.73,1.65,...,1.32,4.19,2.1,2.92,8.94]]
RatecodeID: [[1,1,1,1,1,...,1,1,1,1,1],[1,1,1,1,1,...,1,1,1,2,1],...,[1,1,1,1,1,...,1,1,1,1,1],[1,1,1,1,1,...,null,null,null,null,null]]
store_and_fwd_flag: [["N","N","N","N","N",...,"N","N","N","N","N"],["N","N","N","N","N",...,"N","N","N","N","N"],...,["N","N","N","N","N",...,"N","N","N","N","N"],["N","N","N","N","N",...,null,null,null,null,null]]
PULocationID: [[142,236,166,114,68,...,238,43,142,107,236],[43,239,43,263,164,...,79,138,138,132,132],...,[164,230,162,237,229,...,236,113,231,140,140],[107,170,164,238,162,...,90,107,113,148,186]]
DOLocationID: [[236,42,166,68,163,...,239,151,162,100,161],[239,161,237,100,68,...,237,263,87,134,89],...,[230,161,140,229,142,...,75,164,230,237,262],[162,186,161,143,236,...,170,75,246,164,181]]
payment_type: [[1,1,1,2,1,...,1,1,1,1,1],[1,1,1,2,1,...,2,1,1,1,1],...,[1,1,1,1,1,...,1,1,2,1,1],[1,1,1,1,1,...,0,0,0,0,0]]
...

# Create an Iceberg table

Next create the Iceberg table directly from the `pyarrow.Table`.

In [33]:
table_name = "default.taxi_dataset"

try:
    # In case the table already exists
    catalog.drop_table(table_name)
except:
    pass

table = catalog.create_table(table_name, schema=df.schema)

table

taxi_dataset(
  1: VendorID: optional long,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional double,
  5: trip_distance: optional double,
  6: RatecodeID: optional double,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional long,
  9: DOLocationID: optional long,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: airport_fee: optional double
),
partition by: [],
sort order: [],
snapshot: null

# Write the data

Let's append the data to the table. Appending or overwriting is equivalent since the table is empty. Next we can query the table and see that the data is there.

In [34]:
table.append(df)  # or table.overwrite(df)

assert len(table.scan().to_arrow()) == len(df)

table.scan().to_arrow()

pyarrow.Table
VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
----
VendorID: [[1,1,2,2,2,...,2,2,2,2,2]]
tpep_pickup_datetime: [[2022-01-01 00:35:40.000000,2022-01-01 00:33:43.000000,2022-01-01 00:53:21.000000,2022-01-01 00:25:21.000000,2022-01-01 00:36:48.000000,...,2022-01-31 23:36:53.000000,2022-01-31 23:44:22.000000,2022-01-31 23:39:00.000000,2022-01-31 23:36:42.000000,2022-01-31 23:46:00.000000]]
tpep_dropoff_datetime: [[2022-01-01 00:53:29.000000,2022-01-01 00:42:07.000000,2022-01-01 01:02:19.000000,2022-01-01 00:35:23.000000,2022-01-01 01:14:20.000000,...,2022-01-31 23:42:51.000000,2022-01-31 23:55:01.000000,2022-01-31 23:50:00.000000,2022-01-31 23:48:45.000000,2022-02-01 00:13:00.000000]]
passenger_count: [[2,1,1,1,1,...,null,null,null,null,null]]
trip_distance: [[3.8,2.1,0.97,1.09,4.3,...,1.32,4.19,2.1,2.92,8.94]]
RatecodeID: [[1,1,1,1,1,...,null,null,null,null,null]]
store_and_fwd_flag: [["N","N","N","N","N",...,null,null,null,null,null]]
PULocationID: [[142,236,166,114,68,...,90,107,113,148,186]]
DOLocationID: [[236,42,166,68,163,...,170,75,246,164,181]]
payment_type: [[1,1,1,2,1,...,0,0,0,0,0]]
...

In [35]:
str(table.current_snapshot())

'Operation.APPEND: id=5382422337398553932, schema_id=0'

# Append data

Let's append another month of data to the table

In [36]:
df = pq.read_table("/home/iceberg/data/yellow_tripdata_2022-02.parquet")
table.append(df)

In [37]:
str(table.current_snapshot())

'Operation.APPEND: id=4731738526151278430, parent_id=5382422337398553932, schema_id=0'

# Feature generation

Consider that we want to train a model to determine which features contribute to the tip amount. `tip_per_mile` is a good target to train the model on. When we try to append the data, we need to evolve the schema first.

In [38]:
import pyarrow.compute as pc

df = table.scan().to_arrow()
df = df.append_column("tip_per_mile", pc.divide(df["tip_amount"], df["trip_distance"]))

try:
    table.overwrite(df)
except ValueError as e:
    print(f"Error: {e}")

Error: Table schema does not match schema used to create file:
table:
VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: double
tip_per_mile: double vs.
file:
VendorID: int64
  -- field metadata --
  PARQUET:field_id: '1'
tpep_pickup_datetime: timestamp[us]
  -- field metadata --
  PARQUET:field_id: '2'
tpep_dropoff_datetime: timestamp[us]
  -- field metadata --
  PARQUET:field_id: '3'
passenger_count: double
  -- field metadata --
  PARQUET:field_id: '4'
trip_distance: double
  -- field metadata --
  PARQUET:field_id: '5'
RatecodeID: double
  -- field metadata --
  PARQUET:field_id: '6'
store_and_fwd_flag: string
  -- field metadata --
  PARQUET:field_id: '7'
PULocationID: int64
  -- field metadata --
  PARQUET:field_id: '8'
DOLocationID: int64
  -- field metadata --
  PARQUET:field_id: '9'
payment_type: int64
  -- field metadata --
  PARQUET:field_id: '10'
fare_amount: double
  -- field metadata --
  PARQUET:field_id: '11'
extra: double
  -- field metadata --
  PARQUET:field_id: '12'
mta_tax: double
  -- field metadata --
  PARQUET:field_id: '13'
tip_amount: double
  -- field metadata --
  PARQUET:field_id: '14'
tolls_amount: double
  -- field metadata --
  PARQUET:field_id: '15'
improvement_surcharge: double
  -- field metadata --
  PARQUET:field_id: '16'
total_amount: double
  -- field metadata --
  PARQUET:field_id: '17'
congestion_surcharge: double
  -- field metadata --
  PARQUET:field_id: '18'
airport_fee: double
  -- field metadata --
  PARQUET:field_id: '19'

In [39]:
with table.update_schema() as upd:
    upd.union_by_name(df.schema)

print(str(table.schema()))

table {
  1: VendorID: optional long
  2: tpep_pickup_datetime: optional timestamp
  3: tpep_dropoff_datetime: optional timestamp
  4: passenger_count: optional double
  5: trip_distance: optional double
  6: RatecodeID: optional double
  7: store_and_fwd_flag: optional string
  8: PULocationID: optional long
  9: DOLocationID: optional long
  10: payment_type: optional long
  11: fare_amount: optional double
  12: extra: optional double
  13: mta_tax: optional double
  14: tip_amount: optional double
  15: tolls_amount: optional double
  16: improvement_surcharge: optional double
  17: total_amount: optional double
  18: congestion_surcharge: optional double
  19: airport_fee: optional double
  20: tip_per_mile: optional double
}

In [40]:
table.overwrite(df)

table

taxi_dataset(
  1: VendorID: optional long,
  2: tpep_pickup_datetime: optional timestamp,
  3: tpep_dropoff_datetime: optional timestamp,
  4: passenger_count: optional double,
  5: trip_distance: optional double,
  6: RatecodeID: optional double,
  7: store_and_fwd_flag: optional string,
  8: PULocationID: optional long,
  9: DOLocationID: optional long,
  10: payment_type: optional long,
  11: fare_amount: optional double,
  12: extra: optional double,
  13: mta_tax: optional double,
  14: tip_amount: optional double,
  15: tolls_amount: optional double,
  16: improvement_surcharge: optional double,
  17: total_amount: optional double,
  18: congestion_surcharge: optional double,
  19: airport_fee: optional double,
  20: tip_per_mile: optional double
),
partition by: [],
sort order: [],
snapshot: Operation.OVERWRITE: id=7739515532572230599, parent_id=4731738526151278430, schema_id=1