In [1]:
spark

In [2]:
df = spark.read.option("header", True).csv("/home/iceberg/data/yellow_tripdata_2020-04.csv")

In [3]:
df.write.saveAsTable("taxis")

In [4]:
spark.sql("insert overwrite taxis select * from taxis")

DataFrame[]

In [5]:
spark.sql("select * from taxis").show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2020-04-01 00:41:22|  2020-04-01 01:01:53|              1|         1.20|         1|                 N|          41|          24|           2|        5.5|  0.5|    0.5|         0|           0|                  0.3|         6.8|                   0|
|       1| 2020-04-01 00:56:00|  2020-04-01 01:09:25|              1|         3.40|         1|                 N|          95|         197|           1|       12.5|  0.5|    0.5|      2.75|           0|                  0.3|       16.55|                   0|
|       1| 2020-04-01 00:00:26|  2020-04-01 00:09:25|              1|         2.80|         1|                 N|         237|         137|           1|         10|    3|    0.5|         1|           0|                  0.3|        14.8|                 2.5|
|       1| 2020-04-01 00:24:38|  2020-04-01 00:34:38|              0|         2.60|         1|                 N|          68|         142|           1|         10|    3|    0.5|         1|           0|                  0.3|        14.8|                 2.5|
|       2| 2020-04-01 00:13:24|  2020-04-01 00:18:26|              1|         1.44|         1|                 Y|         263|          74|           1|        6.5|  0.5|    0.5|         3|           0|                  0.3|        13.3|                 2.5|
|       2| 2020-04-01 00:24:36|  2020-04-01 00:33:09|              1|         2.93|         1|                 N|          75|         170|           2|       10.5|  0.5|    0.5|         0|           0|                  0.3|        14.3|                 2.5|
|       2| 2020-04-01 00:56:56|  2020-04-01 01:09:13|              1|         6.86|         1|                 N|         141|         243|           1|         20|  0.5|    0.5|      4.76|           0|                  0.3|       28.56|                 2.5|
|       2| 2020-04-01 00:06:56|  2020-04-01 00:14:15|              1|         1.19|         1|                 N|         137|          68|           2|          7|  0.5|    0.5|         0|           0|                  0.3|        10.8|                 2.5|
|       1| 2020-04-01 00:50:05|  2020-04-01 01:08:54|              1|        11.30|         1|                 N|         229|         185|           2|       31.5|    3|    0.5|         0|           0|                  0.3|        35.3|                 2.5|
|       2| 2020-04-01 00:07:10|  2020-04-01 00:18:45|              1|         3.68|         1|                 N|         140|         226|           1|         13|  0.5|    0.5|      3.36|           0|                  0.3|       20.16|                 2.5|
|       1| 2020-04-01 00:37:21|  2020-04-01 00:46:00|              1|         1.40|         1|                 N|         249|           4|           1|          8|    3|    0.5|         2|           0|                  0.3|        13.8|                 2.5|
|       2| 2020-04-01 00:19:44|  2020-04-01 00:22:27|              3|          .55|         1|                 N|         236|         263|           2|          4|  0.5|    0.5|         0|           0|                  0.3|         7.8|                 2.5|
|       2| 2020-04-01 00:13:15|  2020-04-01 00:18:30|              3|          .85|         1|                 N|          68|         246|           2|          6|  0.5|    0.5|         0|           0|                  0.3|         9.8|                 2.5|
|       2| 2020-04-01 00:34:54|  2020-04-01 01:04:55|              3|         7.32|         1|                 N|          48|         223|           2|       24.5|  0.5|    0.5|         0|           0|                  0.3|        28.3|                 2.5|
|       2| 2020-04-01 00:03:53|  2020-04-01 00:12:10|              1|         4.37|         1|                 N|          75|         224|           4|      -14.5| -0.5|   -0.5|         0|           0|                 -0.3|       -18.3|                -2.5|
|       2| 2020-04-01 00:03:53|  2020-04-01 00:12:10|              1|         4.37|         1|                 N|          75|         224|           2|       14.5|  0.5|    0.5|         0|           0|                  0.3|        18.3|                 2.5|
|       2| 2020-04-01 00:26:37|  2020-04-01 00:37:13|              1|         4.55|         1|                 N|         137|          74|           4|      -13.5| -0.5|   -0.5|         0|           0|                 -0.3|       -17.3|                -2.5|
|       2| 2020-04-01 00:26:37|  2020-04-01 00:37:13|              1|         4.55|         1|                 N|         137|          74|           2|       13.5|  0.5|    0.5|         0|           0|                  0.3|        17.3|                 2.5|
|       1| 2020-04-01 00:20:11|  2020-04-01 00:45:10|              1|         9.90|         1|                 N|         137|          61|           1|       29.5|    3|    0.5|         2|           0|                  0.3|        35.3|                 2.5|
|       1| 2020-04-01 00:27:35|  2020-04-01 00:38:50|              1|         3.70|         1|                 N|         161|           4|           1|       12.5|    3|    0.5|         1|           0|                  0.3|        17.3|                 2.5|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 20 rows

In [6]:
spark.sql("select * from taxis.history").show()

21/11/17 01:16:40 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
21/11/17 01:16:40 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
21/11/17 01:16:43 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
21/11/17 01:16:43 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore UNKNOWN@172.21.0.3

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2021-11-17 01:16:...|2170535902205981709|               null|               true|
|2021-11-17 01:16:...|3076272200608150685|2170535902205981709|               true|
+--------------------+-------------------+-------------------+-------------------+

21/11/17 01:16:43 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException