In [1]:
spark

In [2]:
spark.sql("use local")
spark.sql("show databases").show(truncate=False)

21/10/17 03:37:26 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
21/10/17 03:37:26 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
21/10/17 03:37:30 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException

+---------+
|namespace|
+---------+
|genome   |
|movies   |
+---------+

In [3]:
spark.sql("show tables in local.genome").show(truncate=False)

+---------+---------+
|namespace|tableName|
+---------+---------+
|genome   |tags     |
|genome   |scores   |
+---------+---------+

In [4]:
spark.sql("show tables in local.movies").show(truncate=False)

+---------+---------+
|namespace|tableName|
+---------+---------+
|movies   |ratings  |
|movies   |movies   |
|movies   |links    |
|movies   |tags     |
+---------+---------+

In [5]:
spark.sql("select * from local.movies.movies").show(truncate=False)

+-------+-------------------------------------+-------------------------------------------+
|movieId|title                                |genres                                     |
+-------+-------------------------------------+-------------------------------------------+
|1      |Toy Story (1995)                     |Adventure|Animation|Children|Comedy|Fantasy|
|2      |Jumanji (1995)                       |Adventure|Children|Fantasy                 |
|3      |Grumpier Old Men (1995)              |Comedy|Romance                             |
|4      |Waiting to Exhale (1995)             |Comedy|Drama|Romance                       |
|5      |Father of the Bride Part II (1995)   |Comedy                                     |
|6      |Heat (1995)                          |Action|Crime|Thriller                      |
|7      |Sabrina (1995)                       |Comedy|Romance                             |
|8      |Tom and Huck (1995)                  |Adventure|Children                         |
|9      |Sudden Death (1995)                  |Action                                     |
|10     |GoldenEye (1995)                     |Action|Adventure|Thriller                  |
|11     |American President, The (1995)       |Comedy|Drama|Romance                       |
|12     |Dracula: Dead and Loving It (1995)   |Comedy|Horror                              |
|13     |Balto (1995)                         |Adventure|Animation|Children               |
|14     |Nixon (1995)                         |Drama                                      |
|15     |Cutthroat Island (1995)              |Action|Adventure|Romance                   |
|16     |Casino (1995)                        |Crime|Drama                                |
|17     |Sense and Sensibility (1995)         |Drama|Romance                              |
|18     |Four Rooms (1995)                    |Comedy                                     |
|19     |Ace Ventura: When Nature Calls (1995)|Comedy                                     |
|20     |Money Train (1995)                   |Action|Comedy|Crime|Drama|Thriller         |
+-------+-------------------------------------+-------------------------------------------+
only showing top 20 rows